/* IMPORTAÇÃO FONTE VALERA ROUND */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* GRADIENT BACKGROUND */

html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}

/* ANIMAÇÃO DO BACKGROUND */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* BACKGROUND DO CARD */

.backgroundCard{
    height: fit-content;
    padding: 30px;
    border-radius: 1rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.backgroundCard1{
    height: fit-content;
    padding: 30px;
    border-radius: 1rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.bgDarkGlass {
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.356);
}

.bgClearGlass {
    background: rgba(202, 202, 202, 0.315);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.356);
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    background-color: #920038;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
}

.headerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #FFFF;
}

.mainTitleCard {
    font-size: 2rem;
}

.subtitleCard {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 2em;
}

.bold {
    font-weight: 900;
}

.whiteText {
    color: #FFFF;
}

.blackText {
    color: #000;
}

.bigTinyText {
    font-size: larger;
}

.radioGroupContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input {
    padding: 10px;
    transition: 0.5s;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.input:focus {
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resultsContainer {
    height: fit-content;
    border-radius: 1rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.resultCard {
    width: 27%;
    word-break: break-all;
}

@media (max-width: 1122px) {
    .resultsContainer {
        flex-direction: column;
        justify-content: center;
    }
    .resultCard {
        width: auto;
    }
}

.contain {
    width: 90%;
}

.button {
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    color: #e73c7e;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    transform: scale(1.1);
}